@import '/src/styles/abstracts/variables';

.container-principal-banner {
    height: 95vh;
    width: 100%;
    background-color: $primaryDarkGreen;

    padding-top: 15vh;

    @media only screen and (max-width: 720px) {
        height: 85vh;
        padding-top: 5vh;
        border-bottom-left-radius: 45% 5%;
        border-bottom-right-radius: 45% 5%;

    }



    .jungle5 {
        position: absolute;
        width: 180px;
        height: 220px;
        bottom: 5vh;
        right: 0;

        @media screen and (max-width: 720px) {
            display: none;
        }
    }

    .jungle6 {
        position: absolute;
        width: 250px;
        height: 250px;
        bottom: 5vh;
        left: 0;

        @media screen and (max-width: 720px) {
            display: none;
        }
    }
    .jungle8 {
        position: absolute;
        width: 100px;
        height: 340px;
        bottom: 45vh;
        right: -12px;

        @media screen and (max-width: 720px) {
            //display: none;
            width: 70px;
            height: 270px;
            bottom: 30vh;
        }
    }
}

.first-text-main {
    font-size: 65px;
    font-family: 'Nexa-Heavy';
    color: #fff;
    padding: 5% 0;
    display: block;

    .purple {
        font-size: 65px;
        color: #918EF4;

        @media only screen and (max-width: 720px) {
            font-size: 45px;
        }

    }

    @media only screen and (max-width: 720px) {
        padding: 5% 2% 5% 2%;
        font-size: 45px;

    }
}

.container-grid-principal {
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: auto 40%;

    @media only screen and (max-width: 720px) {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .mobile-img {
        width: 500px;
        height: 500px;

        @media only screen and (max-width: 720px) {
            width: 350px;
            height: 350px;
            margin: 0 auto;

        }
    }
}

.principal-button-main {
    padding: 20px 40px;

    background: $white;

    border-radius: 30px;
    font-family: $heavyFont;

    &:hover {
        background-color: $primaryDarkGreen;

        border: 3px solid $white;

        color: $white;

        cursor: pointer;
    }

    @media only screen and (max-width: 720px) {
        padding: 10px 20px;

    }


}

.principal-button-main {
    padding: 20px 40px;

    background: $white;

    border-radius: 30px;
    font-family: $heavyFont;

    &:hover {
        background-color: $primaryDarkGreen;

        border: 3px solid $white;

        color: $white;

        cursor: pointer;
    }

    @media only screen and (max-width: 720px) {
        display: flex;
        justify-content: center;
        margin: 0 15% 0 15%;
        padding: 10px 20px;

    }

}

.container-text {
    margin: 50px 0 0 0;
    padding: 8px 8px 8px 10px;
    border-left: 5px solid $white;

    .text {
        color: $white;
        font-size: $h2;
    }

    @media only screen and (max-width: 720px) {
        margin: 5% 0 0 15%;

    }

}