@import '/src/styles/abstracts/variables';

.container-principal-banner{
    height: 90vh;
    width: 100%;
    background-color: $primaryDarkGreen;
    @media only screen and (max-width: 720px) {
        height: 51vh;
    }
}

.first-text-main{
    font-size: $h1;
    font-family: 'Nexa-Heavy';
    color: #fff;
    padding: 20% 0;
    display: block;
    @media only screen and (max-width: 720px) {
        padding: 5% 2% 0 2% ;
    }
}

.container-grid-principal{
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: auto 40%;
    @media only screen and (max-width: 720px) {
        margin: 0 auto;
        width: 100%;
       display: block;
    }

    .mobile-img{
        width: 500px;
        height: 500px;

        @media only screen and (max-width: 720px) {
           width: 350px;
           height: 350px;
        }
    }
}