@import '/src/styles/abstracts/_variables.scss';


.container-about{

    margin: 5%;
    
    .container-title{
        text-align: center;
        padding: 2%;

        .title{
            font-size: h2;
        }

        @media screen and (max-width: 720px){
           padding: 3%;
        }

    }

    .container-separation{
        display: flex;
        justify-content: center;
        gap: 6vw;


        .container-side{
                .side-title{
                    color: $black; 
                    text-align: center;
                }

                .container-list{
                    @media screen and (max-width: 720px){
                        padding: 3%;
                    }

                    .row{
                        display: flex;
                        gap: 20px;
                        @media screen and (max-width: 720px){
                            justify-content: center;
                        }

                        .icon{
                            margin: auto 0;
                        }
                        .p{
                            font-size: $p;
                            margin: auto 0;

                        }
                    }

                }
        }

        .colum{
           
            margin: 2% 0;

        @media screen and (max-width: 720px){ display: none;}


        }
        @media screen and (max-width: 720px){
    
            display: block;
        }
    }



}