@import '/src/styles/abstracts/_variables.scss';

.container-why-us {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 80px 0;
}

.container-grid-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-block-why{
    display: flex;

    flex-direction: column;
    justify-items: center;
    align-items: center;

    width: 80%;

    padding: 20px;
    margin: 20px auto;

    background-color: $grey;
    box-shadow: 2px 2px 10px -5px $black;

    border-radius: 5px;

    &:hover{
        background-color: $grey;
        opacity: 0.8;
        cursor: pointer;
    }
}

.title-block-why{
    font-family: $heavyFont;
}