@import '../abstracts/variables';

.nav {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 20px $white;
    transition: 0.5s;
    background: $primaryDarkGreen;

}

.nav-visible {

    top: 0;
    translate: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px 0 20px;
    width: 100%;
    height: fit-content;
    //box-shadow: 0 1px 8px $primaryGreen;
    background: $primaryDarkGreen;
    transition: 0.5s;

    .LOGO {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 160px;
        height: 100px;
        background-image: url("../../../public/assets/img/main/DescuentifyWhite.png");

        &:hover {
            transform: scale(1.1)
        }

        @media only screen and (max-width: 720px) {
            background-image: url("../../../public/assets/img/main/LogoMA.png");
            width: 50px;
            height: 50px;
        }
    }

    .nav-items {
        display: flex;
        align-items: center;
        gap: 20px;

        .link {

            text-decoration: none;
            color: $white;
            height: fit-content;
            display: grid;
            margin: 20px 0 0 0 ;
            place-items: center;
            font-size: $h3;

            &:hover {
                font-size: $h2;
                color: $primaryGreen;
            }
        }

        .header-button {
            border: none;
        }
    }
}